<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Learning</title>
    <script src="https://unpkg.com/vue@next"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">


</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <b class="navbar-brand" href="#">Vue Commerce</b>
                <div class="">
                    <form class="d-flex" @submit.prevent="onSubmit">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                            v-model="filterValue">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="row mx-0">
            <div class="col-md-2 border-end mt-5">
                <b>Price</b>
                <small @click="filterWithPrice(0,25)" class="d-block"> Under $25</small>
                <small @click="filterWithPrice(25,50)" class="d-block"> $25 to $50</small>
                <small @click="filterWithPrice(50,100)" class="d-block"> $50 to $100</small>
                <b>Rating</b>
                <div>
                    <star-rating read-only="true" v-bind:show-rating="false" star-size=20 rating=1
                        @click="filterWithRating(1)" />
                </div>
                <div>
                    <star-rating read-only="true" v-bind:show-rating="false" star-size=20 rating=2
                        @click="filterWithRating(2)" />
                </div>
                <div>
                    <star-rating read-only="true" v-bind:show-rating="false" star-size=20 rating=3
                        @click="filterWithRating(3)" />
                </div>
                <div>
                    <star-rating read-only="true" v-bind:show-rating="false" star-size=20 rating=4
                        @click="filterWithRating(4)" />
                </div>
            </div>
            <div class="col-md-10">
                <div class="container">
                    <div class="row gap-2 justify-content-center mt-5">
                        <!-- <h4>Showing results for : {{h}} </h4> -->
                        <div v-for="product in products" class="card" style="width: 18rem;">
                            <img :src="product.img" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">{{product.name}}</h6>
                                <p class="card-text">
                                    <star-rating read-only="true" v-bind:show-rating="false"
                                        v-bind:rating="product.star" star-size=20 v-model:rating="rating">
                                    </star-rating>
                                <p><b>${{product.price}}</b> </p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-for="product in products">
            {{product}}
        </div>
    </div>
    <script src="./main.js"></script>
    <script src="https://unpkg.com/vue-star-rating@next/dist/VueStarRating.umd.min.js"></script>
    <script>
        const mountApp = app.mount("#app")
        app.component('star-rating', VueStarRating.default)
    </script>
</body>

</html>